<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
    </head>
    <body>
        <h1>welcome</h1>
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <h3>register</h3>
        <form  action="{% url 'belt_login:register' %}" method="post">
            {% csrf_token %}
            <label for="name">name: <input type="text" name="name" placeholder="name"></label>
            <label for="username">username: <input type="text" name="username" placeholder="username"></label>
            <label for="password">password: <input type="password" name="password" placeholder="password"></label>
            <label for="confirm_password">confirm password: <input type="password" name="pass_confirm" placeholder="retype password"></label>
            <input type="submit" name="submit" value="register">
        </form>
        <hr>
        <h3>login</h3>
        <form  action="{% url 'belt_login:login' %}" method="post">
            {% csrf_token %}
            <label for="username">username: <input type="text" name="username" placeholder="username"></label>
            <label for="password">password: <input type="password" name="password" placeholder="password"></label>
            <input type="submit" name="submit" value="login">
        </form>

        <a href="{% url 'python_exam:travel' %}">go to travel</a>
    </body>
</html>
